/.vscode
/node_modules
/public/css
/public/fonts
/public/images
/public/js
/public/mix-manifest.json
/public/storage
/public/phpMyAdmin
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
phpMyAdmin
Thumbs.db
yarn-error.log
